@import "../_variables";

.card {
    border: 1px solid colors(smoke);
    background-color: colors(white);
    @include boxSizing();
    @include borderRadius(2px);

    &.card-padding {
        padding: 24px 16px;
    }
    &.card-shadow {
        @include boxShadow(0px, 0px, 8px, #e2e2e2);
    }

    h2,
    .card-title,
    h2.card-title {
        font-size: 18px;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
        margin-bottom: 16px;
        // text-align: center;
        // margin-top: 32px;
        // margin-bottom: 24px;
    }

    p,
    .card-content {
        margin: 8px 0px;
    }
    p:last-of-type,
    .card-content:last-of-type {
        margin-bottom: 0px;
    }
}
