@import "../../../../theme/_mixins";
@import "../../../../theme/_variables";

.checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: rows;
    align-items: center;
    margin-bottom: 8px;

    $knobWidth: 16px;
    $animSpeed: 0.0015s;

    .knob {
        position: relative;
        width: $knobWidth;
        height: $knobWidth;
        border: 1px solid border(gray);
        background-color: color(white);
        @include borderRadius(2px);
        @include transition(border-color ease $animSpeed, background-color ease $animSpeed);

        &:after {
            display: block;
            content: '';
            height: .25rem;
            width: .5rem;
            position: absolute;
            top: 41%;
            left: 50%;
            transform: translate3d(-50%,-50%,0) rotate(-45deg);
            border-bottom: 2px solid color(white);
            border-left: 2px solid color(white);
            @include transition(border-color ease $animSpeed);
        }
    }

    .label {
        margin-left: 8px;
    }
}

.checkbox:not(.selected):hover {
    .knob
     {
        background-color: #fbfbfb;
        &:after { background-color: #fbfbfb }
    }
}

.checkbox.selected {
    .knob {
        &:after {
            border-color: color(primary);
        }
    }
}
