/* You can add global styles to this file, and also import other style files */
@import "normalize";
@import "flex";
@import "common";
@import "layout";
@import "forms";
@import "toolbar";
@import "colors";
@import "icon-sizes";
@import "debug";

@import "_partials/_animations";
@import "_partials/_elements";
@import "_partials/_typography";
@import "_partials/_utils";
@import "_partials/_dnd";
@import "_partials/_card";
@import "_partials/_help";
@import "_partials/_table";
@import "_partials/_modal";
@import "_partials/_tooltip";
@import "_partials/_iconfix";
@import "_partials/_form.errors";
@import "_partials/_custom.scrollbar";

@import "_partials/_mention.directive";

@import "_partials/_appstore_app_iframe";

@import "_media-queries";


/* You can add global styles to this file, and also import other style files */
[flex] {
    display: flex;
}

[flex-direction-row] {
    flex-direction: row;
}

[flex-direction-column] {
    flex-direction: column;
}

[center] {
    justify-content: center;
}