.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
  align-items: center;
}

.title {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 8000;
  line-height: 60px;
  background: #F6F6F6;
  border-bottom: 1px solid #DBDBDB;
  box-shadow: 0px 0px 4px #E8E8E8;
}

.navbar {
  padding: 0 5% 0 0;
}

img.logo {
  width: 119px;
  height: 60px;
  display: block;
}

.contenu {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  /*background-color: rgb(200, 255, 0);*/
}

.gauche {
  width: auto;
  padding: 15px;
}

.centrer {
  width: 100%;
  /*background-color: rgb(209, 92, 233);*/
  display: flex;
  justify-content: center;
  padding: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aligner {
  justify-content: flex-end;
}
