@import "../../theme/_variables";
@import "../../theme/_mixins";

.toast {
    position: fixed;
    top: 78px;
    right: 24px;
    z-index: 999;

    .toast-inner {
        cursor: pointer;
        font-size: $baseFontSize - 1px;
        font-weight: bold;
        color: #ececec;
        // background-color: #333;
        background-color: colors(blue);

        padding: 10px 12px;
        @include borderRadius(2px);

        display: flex;
        flex-direction: row;
        align-items: center;

        a.toast-close {
            font-size: $baseFontSize + 2px;
            // line-height: $baseFontSize - 2px;
            text-decoration: none;
            margin-left: 12px;

            position: relative;
            top: 1px;

            &:hover {
                color: #f9f9f9;
            }
        }
    }
}
